<header>
    <h1>{{title}}</h1>

    <a href="/">New Bill</a>
    <a href="/products">Products</a>
    <a href="/">History</a>
    <a href="/">Records</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>